@import "./conf.scss";
*{
    margin: 0;
}
.company_header{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    height: 80px;
    background: rgba($color: $header-color, $alpha: 0.8);
}
.header_background{
    background: $header-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}
.container{
    width: $view-width;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
}
.company_logo{
    padding-top: 12px;
    padding-bottom: 10px;
    background: url(../images/logo.png);
    width: 159px;
    height: 58px;
    box-sizing: content-box;
    background-position: 0 12px;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu_list_box{
    flex: 1;
    height: 100%;
    padding: 0 20px 0 58px;
}
.menu_item{
    position: relative;
    padding: 0 19px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    font-family: "PingFang SC";
    font-size: 16px;
}
.menu_name{
    position: relative;
    padding: 0 16px;
    line-height: 80px;
    border-bottom: 3px solid transparent;
    transition: all .3s;
}
.menu_name::after{
    content: "";
    border-bottom: 3px solid #fff;
    display: block;
    width: 100%;
    transition: all .3s ease-out 0s;
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
}
.menu_name:hover.menu_name::after{
    transform: none;
}
.top_btn{
    padding: 8px 12px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'PingFang SC';
    font-weight: 400;
}
.active .menu_name::after{
    transform: none;
}
.column_padding{
    padding: 50px;
}
.company_hint{
    width: 500px;
    height: 65px;
    margin: auto;
    background: url(../images/title_gsdt.png);
    text-align: center;
    background-repeat: no-repeat;
    padding: 16px 201px 16px 203px;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 600;
    line-height: 33px;
    color: #333333;
    opacity: 1;
    box-sizing: border-box;
}
.test_btn{
    position: relative;
    width: 120px;
    padding: 8px 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    border: 1px solid $header-color;
}
.test_btn::before{
    content: "";
    background: $header-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: all .3s ease-out 0s;
    transform: scale(0);
}
.test_btn:hover{
    color: #fff;
}
.test_btn:hover.test_btn::before{
    transform: none;
}